$bg-color			    :#e1c298;
$text-color			    :#485059;
$link-color			    :#007fbb;
$link-color-hover	    :#007fbb;
$placeholder-color	    :#8e9195;
$page-link-color        :#da4e80;
$border-bottom-dashed   :#a0a4a9;
$social-color           :#979ca2;
$description-popap-color:#feffdc;
$cart-color             :#f8679a;
$cart-color-hover       :#cc5b8a;
$subtitle-color         :#8e9297;

@mixin border-radius($radius) {
          border-radius: $radius;
}

