@import "_variables.scss";

.question__mark {
    display: inline-block;
    width: 23px;
    height: 23px;
    border: 2px solid #f8679a;
    font-size: 16px;
    color: #f8679a;
    @include border-radius(50%);
    text-align: center;
    line-height: 18px;
    font-family: 'PT Sans Caption', sans-serif;
    vertical-align: bottom;
}

.pseudo__link {
    display: inline-block;
    line-height: 17px;
    color: $link-color;
    border-bottom: 1px dashed $link-color;

    &:hover {
        border-bottom: 1px dashed transparent;
    }
}

.order {
    padding: 115px 0 75px;
    background-color: #fff;

    .icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        position: absolute;
        background-image: url(../img/chosen-sprite.png);
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 2;

        &.drag {
            background-position: 0 -16px;
        }

        &.delete {
            background-position: -18px -16px;
        }
    }

    .other__events {
        margin: 90px 0 75px;

        h3 {
            margin: 0;
            font-size: 18px;
            color: $text-color;
        }

        .place {
            padding-left: 20px;
            &:nth-child(even) {
                margin:25px 0 15px;
            }
            h5 {
                color:$text-color;
            }
        }
    }
}

.about_title {
    padding: 0 220px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .title {
        margin: 0 5px 0 0;
        line-height: 1em;
    }

    .subtitle {
        margin: 0;
        color: #949692;

        a {
            color: $link-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.order__view {
    margin: 30px auto 45px;
    width: 850px;
}

.order__info {
    padding: 20px 0;
    border-top: 1px dashed rgb(196, 206, 216);
    position: relative;

    &:last-child {
        border-bottom: 1px dashed rgb(196, 206, 216);
    }

    .icon {
        &.delete {
            right: 0;
            top: 50%;
            margin-top: -7.5px;
        }
    }

    .main__titles {

        li {
            display: inline-block;
            margin-right: 15px;

            .day__number {
                font-size: 18px;
                font-family: 'PTSans-Bold';
                margin: 0;
                color: $text-color;
            }

            .date {
                margin: 0;
                color: #8e9297;

                &.start__date {
                    color: #e44c82;
                }
            }

            .change__date {
                color: $link-color;
                display: inline-block;
                line-height: 17px;
                border-bottom: 1px dashed $link-color;

                &:hover {
                    border-bottom: 0;
                }
            }

            span {
                color: #949692;
                margin-left: 5px;
            }
        }
    }
}

.package {
    padding-left: 20px;
    margin-top: 20px;

    .package__time {
        position: relative;
        float: left;
        width: 75px;
        text-align: center;

        .time__select {
            width: 75px;
            height: 36px;
            @include border-radius(4px);
            line-height: 34px;
            display: block;
            padding-left: 14px;
            padding-right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 15px;
        }

        .searchForm__field {
            text-align: center;
            color: $text-color;
        }

        &:after {
            content: '';
            width: 25px;
            height: 1px;
            display: inline-block;
            background-color: rgb(210, 234, 238);
            position: absolute;
            top: 50%;
            right: -25px;
        }
    }

    .select2-container {
        .select2-selection--single {
            margin: 0 !important;
        }
    }

    .package__description {
        float: right;
        width: 730px;
        @include border-radius(2px);
        box-shadow: 1.414px 1.414px 0px 0px rgba(57, 60, 64, 0.24);
        background-color: #e6ecf2;
        position: relative;

        .icon {

            &.drag {
                top: 10px;
                left: 14px;
                margin: 0;
            }

            &.delete {
                margin: 0;
                top: 10px;
                right: 14px;
            }
        }
    }

    .package__description__info {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 40px 0 55px;

        &.even {
            background-color: #d8dfe5;
        }
    }


    .main__info {


        li {
            display: inline-block;
            line-height: 35px;

            &:not(:last-child) {
                margin-right: 25px;
            }

            &.title {
                font-family: 'PTSans-Bold';

                a {
                    font-family: PTSans-Regular;
                    color: $link-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .other__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 36px;

        .variants {
            margin-right: 30px;
        }

        .price {
            display: inline-block;
            font-family: 'PTSans-Bold';
        }
    }
}

.order__actions {
    margin: 50px 0 0;

    .action__links {
        margin-bottom: 50px;

        li {
            float: left;

            &:not(:first-child) {
                margin-left: -.26em;
            }

            &:not(:last-child) {
                margin-right: 30px;
            }

            &.authorization {
                float: right;
            }

            span {
                color: #8e9297;
            }
        }
    }

    .action__btns {
        li {
            display: inline-block;

            &:not(:first-child) {
                margin-left: -.26em;
            }

            .bnt {
                font-size: 16px;
            }
        }

        p {
            margin: 0;
        }

        .price {
            margin-right: 42px;
        }

        .action__btn {
            margin-right: 25px;
        }
    }
}
