@import "_variables.scss";

.question__mark {
    display: inline-block;
    width: 23px;
    height: 23px;
    border: 2px solid #f8679a;
    font-size: 16px;
    color: #f8679a;
    @include border-radius(50%);
    text-align: center;
    line-height: 18px;
    font-family: 'PT Sans Caption', sans-serif;
    vertical-align: bottom;
}

.pseudo__link {
    display: inline-block;
    line-height: 17px;
    color: $link-color;
    border-bottom: 1px dashed $link-color;

    &:hover {
        border-bottom: 1px dashed transparent;
    }
}

.order {
    padding: 115px 0 75px;
    background-color: #fff;

    .icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        position: absolute;
        background-image: url(../img/chosen-sprite.png);
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 2;

        &.drag {
            background-position: 0 -16px;
        }

        &.delete {
            background-position: -18px -16px;
        }
    }

    .other__events {
        margin: 84px 0 75px;
        margin-left: -7px;

        h3 {
            margin: 0;
            font-size: 18px;
            color: $text-color;
        }

        .place {
            padding-left: 20px;

            &:nth-child(even) {
                margin: 25px 0 15px;
            }

            h5 {
                color: $text-color;
                margin: 0 0 14px;
            }
        }
    }
}

.about_title {
    padding: 0 228px 0 216px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .title {
        margin: 0 5px 0 0;
        line-height: 1em;
    }

    .subtitle {
        margin: 0;
        color: #949692;

        a {
            color: $link-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.order__view {
    margin: 30px auto 45px;
    width: 844px;
}

.order__info {
    padding: 19px 0 25px;
    position: relative;

    &.empty {
        padding: 20px 0 17px;
    }

    &:nth-child(odd) {
        background: linear-gradient(to right, rgb(196, 206, 216) 0%, rgb(196, 206, 216) 50%, transparent 50%, transparent 100%) repeat-x left top, linear-gradient(to right, rgb(196, 206, 216) 0%, rgb(196, 206, 216) 50%, transparent 50%, transparent 100%) repeat-x left bottom;
        background-size: 17px 1px;
    }

    .icon {
        &.delete {
            right: 0;
            top: 50%;
            margin-top: -7.5px;
        }
    }

    .main__titles {
        margin-top: -5px;

        li {
            display: inline-block;
            margin-right: 12px;

            .day__number {
                font-size: 18px;
                font-family: 'PTSans-Bold';
                margin: 0;
                color: $text-color;
            }

            .date {
                margin: 0;
                color: #8e9297;

                &.start__date {
                    color: #e44c82;
                }
            }

            .change__date {
                color: $link-color;
                display: inline-block;
                line-height: 17px;
                border-bottom: 1px dashed $link-color;

                &:hover {
                    border-bottom: 0;
                }
            }

            span {
                color: #949692;
                margin-left: 5px;
            }
        }
    }
}

.package {
    padding-left: 17px;
    margin-top: 20px;

    &.even {
        margin-top: 17px;
    }

    .package__time {
        position: relative;
        float: left;
        width: 75px;
        text-align: center;

        .time__select {
            width: 75px;
            height: 36px;
            @include border-radius(4px);
            line-height: 34px;
            display: block;
            padding-left: 14px;
            padding-right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 15px;
        }

        .searchForm__field {
            text-align: center;
            color: $text-color;
        }

        &:after {
            content: '';
            width: 25px;
            height: 1px;
            display: inline-block;
            background-color: rgb(210, 234, 238);
            position: absolute;
            top: 50%;
            right: -25px;
        }
    }

    .select2-container {
        .select2-selection--single {
            margin: 0 !important;
        }
    }

    .package__description {
        float: right;
        width: 728px;
        @include border-radius(2px);
        box-shadow: 1.414px 1.414px 0px 0px rgba(57, 60, 64, 0.24);
        background-color: #e6ecf2;
        position: relative;
        cursor: pointer;

        &.drag__start {
            box-shadow: 0.105px 1.997px 4.8px 1.2px rgba(0, 0, 0, 0.17);
        }

        .icon {

            &.drag {
                top: 10px;
                left: 12px;
                margin: 0;
            }

            &.delete {
                margin: 0;
                top: 10px;
                right: 14px;
            }
        }
    }

    .package__description__info {
        position: relative;
        /*display: flex;
        justify-content: space-between;
        align-items: flex-end;*/
        padding: 0 40px 0 59px;

        &.even {
            background-color: #d8dfe5;
        }
    }


    .main__info {


        li {
            /*display: inline-block;*/
            float: left;
            line-height: 36px;

            &:not(:last-child) {
                margin-right: 24px;
            }

            &.title {
                font-family: 'PTSans-Bold';

                a {
                    font-family: PTSans-Regular;
                    color: $link-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .other__info {
            float: right;

            .variants {
                margin-right: 28px;
            }

            .price {
                display: inline-block;
                font-family: 'PTSans-Bold';
            }
        }
    }
}

.order__actions {
    margin: 46px 0 0;

    .action__links {
        margin-bottom: 50px;

        li {
            float: left;

            &:not(:first-child) {
                margin-left: -.26em;
            }

            &:not(:last-child) {
                margin-right: 30px;
            }

            &.authorization {
                float: right;
                margin-right: 0;
            }

            &.loged__in {
                float: right;
                display: none;
                margin-right: 0;
            }

            span {
                color: #8e9297;
            }
        }
    }

    .action__btns {
        li {
            display: inline-block;

            &:not(:first-child) {
                margin-left: -.26em;
            }

            .bnt {
                font-size: 16px;
            }
        }

        p {
            margin: 0;
        }

        .price {
            margin-right: 42px;
        }

        .action__btn {
            margin-right: 22px;
        }

        .exchanged {
            font-size: 21px;
            display: inline-block;
            margin-left: 4px;
        }
    }
}

.popap__window {
    display: none;
    background: rgba(124,124,124,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    justify-content: center;
    align-items: center;

    .action__board {
        width: 768px;
        background-color: #f4f6f8;
        position: relative;

        h2 {
            padding-left: 30px;
        }

        .close {
            display: inline-block;
            background: url(../img/Grey_close_x.png) no-repeat;
            position: absolute;
            width: 25px;
            height: 25px;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }
    }
}

.select2-container--nosearch.select2-container--open .select2-dropdown {
    z-index: 6;
}
