/* RESPONSIVE */
@media only screen and (min-width: 1360px) {
    #up__btn {
        position: fixed;
        background: url(../img/svgicons/Up.svg) no-repeat center;
        background-size: cover;
        width: 55px;
        height: 55px;
        right: 45px;
        bottom: 25px;
        cursor: pointer;
        display: none;
        opacity: 0.3;
        z-index: 999;

        &:hover {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 1359px) {
    .wrapper {
        width: 100%;
    }

    .header, .footer {
        width: 100%;
        margin-left: 0;
        left: 0;
    }

    .header__col1 {
        width: 20.61%;
    }

    .header__col2 {
        width: 64.45%;
    }

    .header__col3 {
        width: 14.94%;
    }

    .nav {
        padding-left: 0;
    }

    .search {
        margin-left: 0;
    }

    .nav__item--hasSub .nav__link {
        display: none;
    }

    li.item__rollMenu {
        display: inline-block;
        padding: 0 12px;
    }

    .icons-list {
        li {
            &:not(:last-child) {
                margin-right: 7px;
            }
        }
    }

    .cart {
        margin-left: 0;
    }

    .header .icons {
        padding: 10px 12px 6px;
    }
}

@media only screen and (max-width: 1320px) {
    .catalogList__title, .catalogList__entry {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1299px) {
    /*---HOTELS END EXCURCIONS---*/
    .catalog__item {
        padding-left: 25px;
    }

    .catalogList__title, .catalogList__entry {
        font-size: 13px;
    }

    .page {
        padding-right: 21px;
    }

    .catalog {
        padding: 0 0 0 29px;
    }

    .catalog__filter {
        float: none;
        padding: 15px 0 3px 0;
    }

    .catalog__title {
        float: none;
    }

    .catalogList__item {
        width: 47.62%;
        margin-left: 4.76%;

        &:nth-child(3n+1) {
            margin-left: 4.76%;
        }

        &:nth-child(2n+1) {
            margin-left: 0;
        }
    }

    /*---//HOTELS END EXCURCIONS---*/

    /*---SINGLE EXCURCION---*/
    .info__blok {
        flex-direction: column;

        .description__side {
            display: flex;
            margin-bottom: 60px;
            width: 100%;

            .tour__description {
                margin-left: 50px;
                width: 40%;
            }
        }

        .action__side {
            width: 100%;
        }
    }
    /*---//SINGLE EXCURCION---*/

    /*---CART---*/
    .footer {
        .inner {
            padding-right:0;
        }
        .info {
            display:none;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    body {
        background-image: url(../img/body-bg@2x.png);
        background-size: 203px 317px;
    }

    a.logo {
        background: url(../img/mx@2x.png);
        background-size: 600px 600px;
        background-position-y: 0;

        &:hover {
            background-position: 0 -50px;
        }
    }

    .search__zoom {
        background-image: url(../img/mx@2x.png);
        background-size: 600px 600px;
        background-position: -150px 0px;
    }
}

@media screen and (max-device-width: 1024px) {
    .header {
        position: static;
    }

    .main {
        margin: 0;
    }
}
