/*.visible {
    display:block!important;
}*/
.question__mark {
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 2px solid #f8679a;
  font-size: 16px;
  color: #f8679a;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-family: 'PT Sans Caption', sans-serif;
  vertical-align: bottom;
  cursor: pointer; }
  .question__mark:hover {
    border-color: #da477c;
    color: #da477c; }

.pull-right {
  float: right; }

.pseudo__link {
  display: inline-block;
  line-height: 17px;
  color: #007fbb;
  border-bottom: 1px dashed #007fbb; }
  .pseudo__link:hover {
    border-bottom: 1px dashed transparent; }

.order {
  padding: 115px 0 75px;
  background-color: #fff; }
  .order .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(../img/chosen-sprite.png);
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2; }
    .order .icon.drag {
      background-position: 0 -16px; }
    .order .icon.delete {
      background-position: -17px -48px; }
      .order .icon.delete:hover {
        background-position: -17px -33px; }
  .order .other__events {
    margin: 84px 0 75px;
    margin-left: -7px; }
    .order .other__events h3 {
      margin: 0;
      font-size: 18px;
      color: #485059; }
    .order .other__events .place {
      padding-left: 20px; }
      .order .other__events .place:nth-child(even) {
        margin: 25px 0 15px; }
      .order .other__events .place h5 {
        color: #485059;
        margin: 0 0 14px; }

.about_title {
  width: 890px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  .about_title .title {
    margin: 0 5px 0 0;
    line-height: 1em;
    position: relative; }
  .about_title .subtitle {
    display: none;
    margin: 0;
    color: #949692; }
    .about_title .subtitle.active {
      display: block; }
    .about_title .subtitle a {
      color: #007fbb; }
      .about_title .subtitle a:hover {
        text-decoration: underline; }

.order__view {
  margin: 30px auto 45px;
  width: 844px; }

.order__info {
  padding: 19px 0 25px;
  position: relative; }
  .order__info.empty {
    padding: 20px 0 17px; }
    .order__info.empty .icon.delete {
      display: inline-block; }
  .order__info:nth-child(odd) {
    background: -webkit-gradient(linear, left top, right top, from(#c4ced8), color-stop(50%, #c4ced8), color-stop(50%, transparent), to(transparent)) repeat-x left top, -webkit-gradient(linear, left top, right top, from(#c4ced8), color-stop(50%, #c4ced8), color-stop(50%, transparent), to(transparent)) repeat-x left bottom;
    background: -webkit-linear-gradient(left, #c4ced8 0%, #c4ced8 50%, transparent 50%, transparent 100%) repeat-x left top, -webkit-linear-gradient(left, #c4ced8 0%, #c4ced8 50%, transparent 50%, transparent 100%) repeat-x left bottom;
    background: linear-gradient(to right, #c4ced8 0%, #c4ced8 50%, transparent 50%, transparent 100%) repeat-x left top, linear-gradient(to right, #c4ced8 0%, #c4ced8 50%, transparent 50%, transparent 100%) repeat-x left bottom;
    background-size: 17px 1px; }
  .order__info .icon.delete {
    display: none;
    right: 0;
    top: 50%;
    margin-top: -7.5px; }
  .order__info .main__titles {
    margin-top: -5px; }
    .order__info .main__titles li {
      display: inline-block;
      margin-right: 12px; }
      .order__info .main__titles li .day__number {
        font-size: 18px;
        font-family: 'PTSans-Bold';
        margin: 0;
        color: #485059; }
      .order__info .main__titles li .date {
        margin: 0;
        color: #8e9297; }
        .order__info .main__titles li .date.start__date {
          color: #e44c82; }
      .order__info .main__titles li .change__date {
        color: #007fbb;
        display: inline-block;
        line-height: 17px;
        border-bottom: 1px dashed #007fbb; }
        .order__info .main__titles li .change__date:hover {
          border-bottom: 0; }
      .order__info .main__titles li span {
        color: #949692;
        margin-left: 5px; }

.package {
  padding-left: 17px;
  margin-top: 20px; }
  .package.even {
    margin-top: 17px; }
  .package .package__time {
    position: relative;
    float: left;
    width: 75px;
    text-align: center; }
    .package .package__time .time__select {
      width: 75px;
      height: 36px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      line-height: 34px;
      display: block;
      padding-left: 14px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 15px; }
    .package .package__time .searchForm__field {
      text-align: center;
      color: #485059; }
    .package .package__time:after {
      content: '';
      width: 25px;
      height: 1px;
      display: inline-block;
      background-color: #d2eaee;
      position: absolute;
      top: 50%;
      right: -25px; }
  .package .select2-container .select2-selection--single {
    margin: 0 !important; }
  .package .package__description {
    float: right;
    width: 728px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 1.414px 1.414px 0px 0px rgba(57, 60, 64, 0.24);
            box-shadow: 1.414px 1.414px 0px 0px rgba(57, 60, 64, 0.24);
    background-color: #e6ecf2;
    position: relative;
    cursor: pointer;
    z-index: 2; }
    .package .package__description .icon.drag {
      top: 10px;
      left: 12px;
      margin: 0; }
    .package .package__description .icon.delete {
      display: inline-block;
      margin: 0;
      top: 10px;
      right: 12px; }
  .package .package__description__info {
    position: relative;
    padding: 0 41px 0 59px; }
    .package .package__description__info.even {
      background-color: #d8dfe5; }
  .package .main__info li {
    float: left;
    line-height: 36px; }
    .package .main__info li:not(:last-child) {
      margin-right: 24px; }
    .package .main__info li.title {
      font-family: 'PTSans-Bold'; }
      .package .main__info li.title a {
        font-family: PTSans-Regular;
        color: #007fbb; }
        .package .main__info li.title a:hover {
          text-decoration: underline; }
  .package .main__info .other__info {
    float: right; }
    .package .main__info .other__info .variants {
      margin-right: 28px; }
    .package .main__info .other__info .price {
      display: inline-block;
      font-family: 'PTSans-Bold'; }

.drag__start {
  /*.package__description {
        box-shadow: 0.105px 1.997px 4.8px 1.2px rgba(0, 0, 0, 0.17);
    }*/
  opacity: 0; }

.drag__enter {
  padding-bottom: 80px !important; }

.order__actions {
  margin: 46px 0 0; }
  .order__actions .action__links {
    margin-bottom: 50px; }
    .order__actions .action__links li {
      float: left; }
      .order__actions .action__links li:not(:first-child) {
        margin-left: -.26em; }
      .order__actions .action__links li:not(:last-child) {
        margin-right: 30px; }
      .order__actions .action__links li.authorization {
        float: right;
        margin-right: 0; }
      .order__actions .action__links li.loged__in {
        float: right;
        display: none;
        margin-right: 0; }
      .order__actions .action__links li span {
        color: #8e9297; }
  .order__actions .action__btns li .bnt {
    font-size: 16px; }
  .order__actions .action__btns p {
    margin: 0; }
  .order__actions .action__btns .price {
    margin-right: 19px; }
  .order__actions .action__btns .action__btn:not(:last-child) {
    margin-right: 20px; }
  .order__actions .action__btns .total__price {
    font-size: 30px;
    line-height: 36px; }

.popap__window {
  display: block;
  background: rgba(124, 124, 124, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5; }
  .popap__window .action__board {
    width: 768px;
    background-color: #f4f6f8;
    position: relative;
    z-index: 6;
    margin: 0 auto;
    padding-top: 15px; }
    .popap__window .action__board h2 {
      padding-left: 30px; }
    .popap__window .action__board .mfp-close {
      font-size: 50px;
      color: #acacad; }
      .popap__window .action__board .mfp-close:hover {
        color: #e06d96; }

.description__popap {
  display: none;
  position: absolute;
  top: -41px;
  right: -588px;
  padding: 20px;
  background-color: #feffdc;
  z-index: 9;
  width: 565px;
  font-size: 16px;
  font-family: 'PTSans-Regular';
  -webkit-box-shadow: 0px 0px 5.6px 1.4px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 0px 5.6px 1.4px rgba(0, 0, 0, 0.28); }
  .description__popap:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url(../img/mx.png) no-repeat -503px -102px;
    width: 50px;
    height: 50px;
    left: -20px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .description__popap p {
    font-size: 16px;
    font-family: 'PTSans-Regular';
    margin: 0; }
  .description__popap h6 {
    font-size: 16px; }
  .description__popap ul li {
    padding-bottom: 20px;
    line-height: 18px; }
    .description__popap ul li:before {
      content: '-';
      margin-right: 5px; }
  .description__popap .close {
    right: 10px;
    top: 10px; }

.select2-container--nosearch.select2-container--open .select2-dropdown {
  z-index: 6; }

#ui-datepicker-div {
  z-index: 10 !important; }
