.question__mark {
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 2px solid #f8679a;
  font-size: 16px;
  color: #f8679a;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-family: 'PT Sans Caption', sans-serif;
  vertical-align: bottom;
  cursor: pointer; }
  .question__mark:hover {
    border-color: #da477c;
    color: #da477c; }

.pull-right {
  float: right; }

.pseudo__link {
  display: inline-block;
  line-height: 17px;
  color: #007fbb;
  border-bottom: 1px dashed #007fbb; }
  .pseudo__link:hover {
    border-bottom: 1px dashed transparent; }

.order {
  padding: 115px 0 0;
  background-color: #fff; }
  .order .package-menu_theme_confirmed {
    background-color: #e6ecf2; }
  .order .package-menu_theme_wait {
    background-color: #e6ecf2; }
  .order .package-menu {
    margin: 20px 0 0 17px; }
    .order .package-menu li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .order .package-menu .other-info {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      line-height: 36px; }
  .order .package-menu__main {
    padding: 0 40px 0 15px;
    position: relative;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .order .package-menu__main .icon.delete {
      display: inline-block;
      margin: 0;
      top: 10px;
      right: 14px; }
    .order .package-menu__main .icon.drag {
      display: inline-block;
      margin: 0;
      top: 10px;
      left: 14px; }
  .order .package-menu__order-list {
    padding-left: 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .order .package-menu__order-list li {
      line-height: 36px;
      margin-right: 27px; }
    .order .package-menu__order-list .title {
      font-family: 'PTSans-Bold';
      font-size: 18px; }
    .order .package-menu__order-list .subtitle {
      color: #8e9195; }
  .order .package-menu__order-list_time li:first-child {
    margin-right: 15px; }
  .order .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(../img/chosen-sprite.png);
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2; }
    .order .icon.drag {
      background-position: -37px -56px; }
    .order .icon.delete {
      background-position: -17px -48px; }
      .order .icon.delete:hover {
        background-position: -17px -33px; }
    .order .icon.pencil {
      background-position: 0 -80px; }

.recommendation__info {
  width: 100%;
  background-color: #f4f6f8;
  margin: 40px 0 0;
  padding: 35px 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.recommendation__info_col {
  width: -webkit-calc(100%/3);
  width: calc(100%/3);
  padding-right: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .recommendation__info_col h4 {
    margin: 0; }
  .recommendation__info_col:not(:first-child) {
    padding-left: 25px;
    border-left: 1px solid #c2c7cc; }
  .recommendation__info_col .recommendation__info_title {
    font-size: 16px;
    margin: 0;
    color: #485059;
    font-family: 'PTSans-Bold'; }
  .recommendation__info_col .other__events__discount-value {
    color: #e44c82; }
  .recommendation__info_col .other__events__discount-descr {
    margin: 0;
    line-height: normal;
    font-size: 15px; }
  .recommendation__info_col .recommendation__info_disount:not(:last-child) {
    margin-bottom: 20px; }
  .recommendation__info_col .events__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .recommendation__info_col .events__list li {
      line-height: 36px; }
      .recommendation__info_col .events__list li:not(:last-child) {
        margin-right: 20px; }

.about_title {
  padding: 0 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  .about_title .title {
    margin: 0 5px 0 0;
    line-height: 1em;
    position: relative; }
  .about_title .subtitle {
    display: none;
    margin: 0;
    color: #949692; }
    .about_title .subtitle.active {
      display: block; }
    .about_title .subtitle a {
      color: #007fbb; }
      .about_title .subtitle a:hover {
        text-decoration: underline; }

.order__view {
  margin: 30px auto 0;
  width: 1045px; }

.order__view_s {
  width: 770px;
  margin: 0 auto; }

.order__info {
  padding: 19px 0 25px;
  position: relative; }
  .order__info.empty {
    padding: 20px 0 17px; }
    .order__info.empty .icon.delete {
      display: inline-block; }
  .order__info:nth-child(odd) {
    background: -webkit-gradient(linear, left top, right top, from(#ced7df), color-stop(50%, #ced7df), color-stop(50%, transparent), to(transparent)) repeat-x left top, -webkit-gradient(linear, left top, right top, from(#ced7df), color-stop(50%, #ced7df), color-stop(50%, transparent), to(transparent)) repeat-x left bottom;
    background: -webkit-linear-gradient(left, #ced7df 0%, #ced7df 50%, transparent 50%, transparent 100%) repeat-x left top, -webkit-linear-gradient(left, #ced7df 0%, #ced7df 50%, transparent 50%, transparent 100%) repeat-x left bottom;
    background: linear-gradient(to right, #ced7df 0%, #ced7df 50%, transparent 50%, transparent 100%) repeat-x left top, linear-gradient(to right, #ced7df 0%, #ced7df 50%, transparent 50%, transparent 100%) repeat-x left bottom;
    background-size: 17px 1px; }
  .order__info .icon.delete {
    display: none;
    right: 0;
    top: 50%;
    margin-top: -7.5px; }
  .order__info .icon.pencil {
    right: -18px;
    top: 3px; }
  .order__info .main__titles {
    margin-top: -5px; }
    .order__info .main__titles li {
      display: inline-block;
      margin-right: 12px; }
      .order__info .main__titles li .day__number {
        font-size: 18px;
        font-family: 'PTSans-Bold';
        margin: 0;
        color: #485059; }
      .order__info .main__titles li .date {
        margin: 0;
        color: #8e9297; }
        .order__info .main__titles li .date.start__date {
          color: #e44c82; }
      .order__info .main__titles li .change__date {
        color: #007fbb;
        display: inline-block;
        line-height: 17px;
        border-bottom: 1px dashed #007fbb; }
        .order__info .main__titles li .change__date:hover {
          border-bottom: 0; }
      .order__info .main__titles li span {
        color: #949692;
        margin-left: 5px; }

.package {
  padding-left: 17px;
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .package.even {
    margin-top: 17px; }
  .package .package__time {
    position: relative;
    float: left;
    width: 77px;
    text-align: center; }
    .package .package__time .time__select {
      width: 75px;
      height: 36px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      line-height: 34px;
      display: block;
      padding-left: 14px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 15px; }
    .package .package__time .searchForm__field {
      text-align: center;
      color: #485059; }
    .package .package__time:after {
      content: '';
      width: 30px;
      height: 1px;
      display: inline-block;
      background-color: #c4ccd5;
      position: absolute;
      top: 50%;
      right: -30px; }
  .package .package-menu {
    width: 100%;
    margin: 0 0 0 30px;
    -webkit-box-shadow: 1.414px 1.414px 0px 0px rgba(57, 60, 64, 0.24);
            box-shadow: 1.414px 1.414px 0px 0px rgba(57, 60, 64, 0.24); }
  .package .package-menu__main {
    padding: 0 40px;
    cursor: pointer; }
  .package .select2-container .select2-selection--single {
    margin: 0 !important; }
  .package .package__description {
    float: right;
    width: 728px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 1.414px 1.414px 0px 0px rgba(57, 60, 64, 0.24);
            box-shadow: 1.414px 1.414px 0px 0px rgba(57, 60, 64, 0.24);
    background-color: #e6ecf2;
    position: relative;
    cursor: pointer; }
    .package .package__description .icon.drag {
      top: 10px;
      left: 14px;
      margin: 0; }
    .package .package__description .icon.delete {
      display: inline-block;
      margin: 0;
      top: 10px;
      right: 14px; }
  .package .package__description_child {
    width: 700px;
    cursor: default; }
    .package .package__description_child .part__icon {
      position: absolute;
      top: 5px;
      left: 17px;
      font-size: 18px;
      color: #646a64; }
  .package .package__description__info {
    position: relative;
    padding: 0 49px; }
    .package .package__description__info.even {
      background-color: #d8dfe5; }
  .package .main__info li {
    float: left;
    line-height: 36px; }
    .package .main__info li:not(:last-child) {
      margin-right: 29px; }
    .package .main__info li.title a {
      font-family: PTSans-Regular;
      color: #007fbb; }
      .package .main__info li.title a:hover {
        text-decoration: underline; }
  .package .main__info .other__info {
    float: right; }
    .package .main__info .other__info .price {
      display: inline-block; }

.drag__start .package__description {
  -webkit-box-shadow: 0.105px 1.997px 4.8px 1.2px rgba(0, 0, 0, 0.17);
          box-shadow: 0.105px 1.997px 4.8px 1.2px rgba(0, 0, 0, 0.17); }

.drag__enter {
  padding-bottom: 80px !important; }

.order__actions {
  margin: 46px 0 0;
  padding: 0 105px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .order__actions .action__links {
    margin-bottom: 50px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .order__actions .action__links li:not(:first-child) {
      margin-left: -.26em; }
    .order__actions .action__links li:not(:last-child) {
      margin-right: 30px; }
    .order__actions .action__links li.authorization {
      margin-right: 0; }
    .order__actions .action__links li.loged__in {
      float: right;
      display: none;
      margin-right: 0; }
    .order__actions .action__links .price {
      font-size: 30px;
      color: #e44c82;
      font-family: 'GothamProNarrow-Bold'; }
  .order__actions .subtitle {
    color: #8e9297; }
  .order__actions .subtitle_bold {
    font-family: 'PTSans-Bold'; }
  .order__actions .action__links_right {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
  .order__actions .action__btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .order__actions .action__btns li .bnt {
      font-size: 16px; }
    .order__actions .action__btns li:not(:last-child) {
      margin-right: 25px; }
    .order__actions .action__btns p {
      margin: 0; }
    .order__actions .action__btns .subtitle {
      font-size: 15px;
      color: #8e9297; }
    .order__actions .action__btns .total__price {
      font-size: 30px; }
    .order__actions .action__btns .total__price_colored {
      color: #e44c82; }

.client-data-menu {
  padding: 65px 60px;
  border-bottom: 1px solid #e0e5ea;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .client-data-menu h4, .client-data-menu p {
    margin: 0; }

.client-data-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  .client-data-menu__item:not(:first-child) {
    margin-left: 60px; }

.client-data-menu__text {
  margin-bottom: 20px; }

.client-data-menu__control {
  width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }

.client-data-menu__text_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.client-data-menu__title {
  font-size: 20px;
  color: #485059;
  font-family: 'PTSans-Bold';
  line-height: 13px; }

.client-data-menu__subtitle {
  font-size: 15px; }

.client-data-menu__link {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.mfp-bg {
  background: #7c7c7c;
  opacity: 0.5; }

.popap__window {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; }
  .popap__window .action__board {
    width: 768px;
    background-color: #f4f6f8;
    position: relative;
    margin: 0 auto;
    padding-top: 15px; }
    .popap__window .action__board h2 {
      padding-left: 30px; }
    .popap__window .action__board .mfp-close {
      font-size: 50px;
      color: #acacad; }
      .popap__window .action__board .mfp-close:hover {
        color: #e06d96; }

.description__popap {
  display: none;
  position: absolute;
  top: -41px;
  right: -588px;
  padding: 20px;
  background-color: #feffdc;
  z-index: 9;
  width: 565px;
  font-size: 16px;
  font-family: 'PTSans-Regular';
  -webkit-box-shadow: 0px 0px 5.6px 1.4px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 0px 5.6px 1.4px rgba(0, 0, 0, 0.28); }
  .description__popap:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url(../img/mx.png) no-repeat -503px -102px;
    width: 50px;
    height: 50px;
    left: -20px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .description__popap p {
    font-size: 16px;
    font-family: 'PTSans-Regular';
    margin: 0; }
  .description__popap h6 {
    font-size: 16px; }
  .description__popap ul li {
    padding-bottom: 20px;
    line-height: 18px; }
    .description__popap ul li:before {
      content: '-';
      margin-right: 5px; }
  .description__popap .close {
    right: 10px;
    top: 10px; }

.select2-container--nosearch.select2-container--open .select2-dropdown {
  z-index: 1046; }

.footer {
  background: #5d6168;
  width: 1335px;
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 1000;
  margin-left: -667.5px; }
  .footer .copyright {
    float: left;
    color: #dbdee3;
    margin: 0;
    line-height: 43px; }
  .footer .bottom__menu {
    float: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .footer .inner {
    padding: 0 90px 0 20px;
    position: relative; }
  .footer .info {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #f4f6f8;
    border: 3px solid #5a6169;
    display: inline-block;
    position: absolute;
    right: 18px;
    bottom: 0;
    font: normal 28.8px 'GothamProNarrow-Bold';
    text-align: center;
    line-height: 43px;
    cursor: pointer; }
    .footer .info:hover {
      background-color: #c9f7c9; }

.search__group {
  position: relative; }
  .search__group .search__field {
    width: 300px;
    height: 43px;
    background-color: #727981;
    border: 0;
    color: #f4f6f8;
    -webkit-border-radius: 0;
            border-radius: 0;
    font-size: 16px; }
    .search__group .search__field:hover {
      background-color: #6a6e75; }
    .search__group .search__field:focus {
      background-color: #727981; }
    .search__group .search__field::-webkit-input-placeholder {
      color: #fff; }
    .search__group .search__field::-moz-placeholder {
      color: #fff; }
  .search__group .search__btn {
    border: 0;
    position: absolute;
    right: 0;
    width: 51px;
    height: 43px;
    top: 50%;
    margin-top: -21.5px;
    background-image: url("../img/svgicons/search-lookup-glyph.svg");
    background-repeat: no-repeat;
    background-position: center right 16px;
    background-color: transparent;
    cursor: pointer; }
  .search__group #tipue_drop_content {
    bottom: 48px;
    top: auto; }

.search__btn--active {
  background-color: #0097ad !important; }
  .search__btn--active:hover {
    background-color: #008da1 !important; }

.bottom__menu li {
  display: inline-block; }

.bottom__menu .cart__btn {
  background-color: #f8679a;
  color: #fff; }
  .bottom__menu .cart__btn:hover {
    background-color: #cc5b8a; }

.bottom__menu__btn {
  display: block;
  border: 0;
  background-color: transparent;
  color: #f4f6f8;
  padding: 0 30px;
  font-size: 16px;
  height: 43px;
  font-family: 'PTSans-Regular'; }
  .bottom__menu__btn .icon {
    margin-right: 6px;
    vertical-align: middle;
    position: relative;
    bottom: 2px; }
  .bottom__menu__btn:hover {
    background-color: #52555b; }

.bottom__menu .star:hover {
  background-image: url(../img/svgicons/star.svg); }

.bottom__menu .count {
  display: inline-block;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  vertical-align: initial;
  background-color: #f4f6f8;
  color: #485059;
  font-family: 'PTSans-Bold';
  line-height: 24px;
  margin: 0 2px; }

#datepicker-2 {
  -webkit-border-radius: 2px;
          border-radius: 2px; }
