@charset "UTF-8";
.required:before {
  content: '*';
  font-size: 40px;
  position: absolute;
  left: -12px;
  top: -21px;
  color: #e44c82; }

.excursion {
  padding: 80px 60px 50px;
  background-color: #fff; }

.back__link {
  display: inline-block;
  color: #007fbb;
  margin-bottom: 10px; }
  .back__link:hover {
    text-decoration: underline; }

.about__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .about__title .subtitle {
    margin: 0; }
  .about__title .duration {
    font-size: 18px;
    line-height: 1.3em;
    margin: 0;
    font-family: PTSans-Bold; }
    .about__title .duration:before {
      content: '';
      width: 25px;
      height: 25px;
      background: url(../img/timer.png) no-repeat center;
      display: inline-block;
      vertical-align: bottom;
      margin-right: 5px; }

.info__blok {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px; }
  .info__blok .description__side {
    width: 35%; }
  .info__blok .action__side {
    width: 60%; }
    .info__blok .action__side .action__board {
      background-color: #f4f6f8; }

.tour__description__info:nth-child(even) {
  margin: 25px 0; }

.tour__description__info:nth-child(1) {
  margin-top: 5px; }

.tour__description__info .title {
  font-size: 15px;
  margin: 0 0 10px; }

.tour__description__info .item p {
  margin: 0;
  font-size: 15px;
  line-height: 18px; }
  .tour__description__info .item p a {
    color: #da4e80; }

.select__fields {
  padding: 30px 0 0 30px; }
  .select__fields .field {
    position: relative;
    float: left;
    margin: 0 30px 25px 0; }
    .select__fields .field.date {
      width: 130px; }
    .select__fields .field.kid__bithd {
      width: 200px; }

.filter {
  /*padding-bottom: 15px;*/ }
  .filter .filter__results {
    padding: 25px 30px 30px;
    background-color: #e8ebef;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .filter .filter__results__col {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-flex-basis: 33%;
          -ms-flex-preferred-size: 33%;
              flex-basis: 33%;
      padding-left: 15px; }
      .filter .filter__results__col:not(:first-child) {
        border-left: 1px solid #d6dadf; }
      .filter .filter__results__col .title {
        font-size: 17px;
        margin: 0 0 15px;
        font-family: PTSans-Bold; }
      .filter .filter__results__col .transfer__selectors li label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        color: #485059;
        font-size: 15px;
        position: relative;
        line-height: 17px; }
        .filter .filter__results__col .transfer__selectors li label:before {
          content: "";
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-right: 7px;
          position: absolute;
          left: 0;
          top: 1px;
          background-color: #fff;
          border: 1px solid #a0a4a9;
          -webkit-border-radius: 50%;
                  border-radius: 50%; }
        .filter .filter__results__col .transfer__selectors li label .tooltip {
          border-bottom: 1px dashed #a0a4a9;
          display: inline-block;
          position: relative; }
          .filter .filter__results__col .transfer__selectors li label .tooltip:hover {
            border-bottom: 1px dashed transparent; }
        .filter .filter__results__col .transfer__selectors li label a {
          color: #007fbb;
          border-bottom: 1px dashed #007fbb;
          display: inline-block;
          line-height: 17px; }
          .filter .filter__results__col .transfer__selectors li label a:hover {
            border-bottom: 1px dashed transparent; }
        .filter .filter__results__col .transfer__selectors li label .tooltip__link {
          display: inline-block; }
      .filter .filter__results__col .transfer__selectors li input[type=radio] {
        display: none; }
        .filter .filter__results__col .transfer__selectors li input[type=radio]:checked + label:before {
          content: "\2022";
          color: #33363a;
          font-size: 24px;
          text-align: center;
          line-height: 13px; }
        .filter .filter__results__col .transfer__selectors li input[type=radio]:checked + label .tooltip {
          color: #da4e80; }
      .filter .filter__results__col .transfer__selectors li:not(:last-child) {
        margin-bottom: 35px; }
  .filter .filter__results_shadow {
    -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.05); }

.action__filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px; }
  .action__filter .filter__list li {
    display: inline-block;
    line-height: 2.4em; }
    .action__filter .filter__list li.title h4 {
      font-size: 19px;
      margin: 0;
      font-family: PTSans-Bold; }
    .action__filter .filter__list li.item {
      margin-left: 20px; }
      .action__filter .filter__list li.item.active a {
        color: #da4e80;
        line-height: 20px; }
        .action__filter .filter__list li.item.active a:hover {
          color: #da4e80; }
      .action__filter .filter__list li.item a {
        font-size: 14px;
        font-family: PTSans-Bold;
        text-transform: uppercase;
        color: #008da1;
        display: inline-block; }
        .action__filter .filter__list li.item a:hover {
          color: #007687; }

.tooltip_templates {
  display: none; }

/*--------Customization tooltipster---------*/
.tooltipster-base span {
  display: inline-block;
  font-size: 15px;
  margin: 15px 0 0 0;
  line-height: 1.125em;
  padding: 0 10px;
  color: #485059; }

.tooltipster-sidetip .tooltipster-box {
  background: none;
  border: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #f4f8fb;
  padding: 16px;
  width: 360px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
  z-index: 10; }

.tooltipster-sidetip .tooltipster-content {
  color: #485059;
  line-height: normal;
  padding: 0; }

.tooltipster-sidetip .tooltipster-arrow-uncropped {
  display: none; }

.tooltipster-sidetip .tooltipster-arrow {
  width: 34px !important;
  height: 22px !important;
  background: url(../img/mx.png) -500px 0 no-repeat;
  z-index: 10; }

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
  top: -14px; }

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
  bottom: -14px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
  margin-top: -11px;
  left: -20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
  margin-top: -11px;
  right: -20px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

/*--------//Customization tooltipster---------*/
/*-----FOR SINGLE COLUMN-----*/
.single__result .demonstration {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .single__result .demonstration .demonstration__col {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; }
  .single__result .demonstration .preview p {
    font-size: 15px;
    margin: 15px 0 0 0;
    line-height: 1.125em;
    padding: 0 10px; }
  .single__result .demonstration .transfer__selectors li input[type=radio]:checked + label span {
    color: #da4e80; }

/*-----//FOR SINGLE COLUMN-----*/
.total__price {
  font-size: 30px;
  font-family: GothamProNarrow-Bold;
  display: inline-block;
  vertical-align: middle; }
  .total__price .exchanged {
    font-size: 22px;
    color: #8e9297;
    font-family: GothamProNarrow-Medium; }

.total {
  /*padding: 0 30px 15px;*/
  text-align: right; }
  .total .total__price {
    margin: 0 15px 0; }
  .total .subtitle {
    font-size: 15px;
    display: inline-block;
    line-height: 13px;
    color: #8e9297;
    margin: 0;
    vertical-align: middle; }
  .total .cart__btn {
    background-color: #f8679a;
    font-size: 16px;
    margin: 20px 30px 20px 0; }
    .total .cart__btn:hover {
      background-color: #e95b8d; }

.useful__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 30px;
  margin-top: 30px; }
  .useful__info .useful__link {
    margin: 0; }
    .useful__info .useful__link a {
      color: #007fbb;
      font-size: 15px;
      border-bottom: 1px dashed #007fbb;
      position: relative;
      display: inline-block;
      line-height: 17px; }
      .useful__info .useful__link a:hover {
        border-bottom: 1px dashed transparent; }
    .useful__info .useful__link .exclamation {
      display: inline-block;
      width: 23px;
      height: 23px;
      border: 2px solid #82868b;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      vertical-align: bottom;
      cursor: default;
      position: relative; }
      .useful__info .useful__link .exclamation:before {
        content: '!';
        font-size: 15px;
        line-height: 19px;
        font-family: PTSans-Bold;
        color: #82868b;
        position: absolute;
        left: 50%;
        margin-left: -2.5px; }
    .useful__info .useful__link .exclamation_2:before {
      margin-left: -2.8px; }

.other__events_theme_excursion-single {
  margin: 60px 0; }

.place {
  padding: 0 0 0 30px; }
  .place:nth-child(even) {
    margin-top: 10px; }
  .place h5 {
    font-size: 17px;
    margin: 0 0 15px;
    font-family: GothamProNarrow-Medium; }
  .place .events__list li {
    display: inline-block;
    margin-right: 25px;
    padding-bottom: 10px;
    font-size: 15px; }
    .place .events__list li a {
      color: #007fbb; }
      .place .events__list li a:hover {
        text-decoration: underline; }

.tags {
  padding-left: 30px;
  margin-bottom: 60px; }
  .tags .tag {
    display: inline-block;
    padding: 5px 8px;
    background-color: #e8ebef;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin-right: 15px; }
    .tags .tag p {
      font-size: 15px;
      line-height: 18px;
      margin: 0;
      color: #576069;
      cursor: default; }
      .tags .tag p:before {
        content: '';
        width: 9px;
        height: 9px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #fff;
        display: inline-block;
        margin-right: 10px; }

.socials {
  float: right;
  margin: 0 30px 0 0; }
  .socials ul li {
    display: inline-block;
    margin-left: 15px; }
    .socials ul li.icon a {
      display: inline-block;
      width: 46px;
      height: 46px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      .socials ul li.icon a:hover {
        background-color: #81878d; }
    .socials ul li.icon .vk {
      background: url("../img/svgicons/Ð’.svg") no-repeat center center, #979ca2; }
    .socials ul li.icon .fb {
      background: url("../img/svgicons/Facebook.svg") no-repeat center center, #979ca2; }
    .socials ul li.icon .ok {
      background: url("../img/svgicons/ok.svg") no-repeat center center, #979ca2; }
    .socials ul li.icon .tw {
      background: url("../img/svgicons/Twitter.svg") no-repeat center center, #979ca2; }
    .socials ul li.icon .google {
      background: url("../img/svgicons/G+.svg") no-repeat left -5px center, #979ca2; }
    .socials ul li.icon .plus {
      background: url("../img/svgicons/+.svg") no-repeat center center, #979ca2; }
