.flex-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.default-link {
  color: #007fbb; }
  .default-link:hover {
    text-decoration: underline; }

.subtitle-default {
  color: #8e9297; }

.main-content {
  padding: 115px 0 50px;
  background-color: #fff; }

.title-menu {
  width: 890px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.title-menu__title {
  display: inline-block; }

.title-menu__title_theme_payment {
  margin-right: 20px; }

.order-menu h4, .order-menu p {
  margin: 0; }

.order-menu__item {
  margin-bottom: 20px; }

.order-heading li {
  margin-right: 20px; }

.order-heading_filled {
  margin-bottom: 20px; }

.order-heading__title {
  font-size: 18px;
  font-family: 'PTSans-Regular';
  color: #495159; }

.package-menu {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  overflow: hidden; }

.package-menu_theme_confirmed {
  background-color: #e7f1fa; }
  .package-menu_theme_confirmed .package-menu__status {
    background-color: #cbdff4; }

.package-menu_theme_wait {
  background-color: #ffeee0; }
  .package-menu_theme_wait .package-menu__status {
    background-color: #fbd8bc; }

.package-menu_theme_paid {
  background-color: #e4fac5; }
  .package-menu_theme_paid .package-menu__status {
    background-color: #c5e794; }

.package-menu_not-first {
  margin-top: 15px; }

.package-menu__order-list {
  padding-left: 20px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .package-menu__order-list li {
    line-height: 36px;
    margin-right: 27px; }

.package-menu__status {
  padding: 8px 12px 0;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch;
  min-width: 280px;
  max-width: 280px;
  font-size: 15px; }

.package-menu__price {
  font-family: 'PTSans-Bold';
  font-size: 16px; }
